body {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.btn {
  width: 25%;
  margin: 0 auto;
}

.btn:hover {
  color: grey;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.quote {
  margin: 1rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  padding: 2rem;
  text-align: center;
  border: solid 4px grey;
}

.navbar {
  display: flex;
  justify-content: flex-end;
  
}

.userBtns {
  padding:1rem 3rem;
  border: solid 2px;
  background-color: white;
  transition: background-color 0.5s ease;
}
.userBtns:hover {
  background-color: grey;
}