body {
  padding: 0;
  margin: 0;
}

.btn {
  margin: 2rem;
}

.btn:hover {
  color: grey;
}

.wrapper {
  display: flex;
  justify-content: center;
}

.quote {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  text-align: center;
}